ui = true
disable_mlock = true

storage "raft" {
  path = "{{ vault_data_dir }}"
  node_id = "{{ vault_node_id }}"
  
{% for host in groups['vault_cluster'] %}
  retry_join {
    leader_api_addr = "{{ hostvars[host]['vault_api_addr'] }}"
    leader_ca_cert_file = "{{ vault_tls_dir }}/ca.crt"
    leader_client_cert_file = "{{ vault_tls_dir }}/vault.crt"
    leader_client_key_file = "{{ vault_tls_dir }}/vault.key"
  }
{% endfor %}
}

cluster_addr = "{{ vault_cluster_addr }}"
api_addr = "{{ vault_api_addr }}"

listener "tcp" {
  address = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_cert_file = "{{ vault_tls_dir }}/vault.crt"
  tls_key_file = "{{ vault_tls_dir }}/vault.key"
  tls_client_ca_file = "{{ vault_tls_dir }}/ca.crt"
}

log_level = "INFO"
log_format = "json"
log_file = "{{ vault_logs_dir }}/vault.log"
log_rotate_duration = "24h"
log_rotate_max_files = 7